@model dynamic

@{
    ViewBag.Title = "Dashboard";
    Layout = "_Layout";
}

<h2>Dashboard</h2>

<ul>
    <li>
        <a asp-area="" asp-controller="ApplicationUser" asp-action="Index">Users</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Movie" asp-action="Index">Movies</a>
    </li>
    @* <li> *@
    @*     <a asp-area="" asp-controller="Role" asp-action="Index">Roles</a> *@
    @* </li> *@
</ul>
