@model MovieSphere.Dto.Movie

@{
    ViewData["Title"] = Model.Title;
    var posterImage = "https://www.themoviedb.org/t/p/w300_and_h450_bestv2" + Model.PosterImage;
    var backdrop = "https://www.themoviedb.org/t/p/w300_and_h450_bestv2" + Model.BackdropPath;
}

<div class="container mt-4">
    <div class="card">
        <img src="@posterImage" alt="Movie Poster">

        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Overview</p>
            <p class="card-text"><small class="text-muted">Released in Year @Model.ReleaseDate</small></p>
        </div>
    </div>
</div>

<form asp-action="AddToWatchlist">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Add to Watchlist" class="btn btn-primary" />
    </div>
</form>

<form asp-action="AddToFavourites">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Add to Favourites" class="btn btn-primary" />
    </div>
</form>


<form asp-action="RemoveFromFavourites">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Remove from Favourites" class="btn btn-danger" />
    </div>
</form>

<form asp-action="RemoveFromWatchlist">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Remove from Watchlist" class="btn btn-danger" />
    </div>
</form>

