@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "ROLES";
}

<h1>All Roles</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create a Role</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@role.Id">Manage</a>
                    <a class="btn">
                        <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>